<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let character of characters">
      <app-card
          [title]="character.name"
          [image]="character.image"
          [details]="[
            { label: 'ID', value: character.id.toString() },
            { label: 'Especie', value: character.species },
            { label: 'Género', value: character.gender },
            { label: 'Estado', value: character.status }
          ]">
      </app-card>
    </div>
  </div>
</div>

