<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let episode of episodes">
      <app-card
        [title]="episode.name"
        [image]="undefined"
        [details]="[
          { label: 'ID', value: episode.id },
          { label: 'Número', value: episode.episode }
        ]"
        [images]="getCharacterImages(episode)">
      >
      </app-card>
      <button class="btn btn-primary" (click)="toggleFavorite(episode)">
        {{ favoritesService.isFavorite(userId, episode.id) ? 'Eliminar de Favoritos' : 'Guardar en Favoritos' }}
      </button>
    </div>
  </div>
</div>
