<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let episode of episodes">
      <app-card
        [title]="episode.name"
        [image]="undefined"
        [details]="[
          { label: 'ID', value: episode.id },
          { label: 'Número', value: episode.episode }
        ]"
        [images]="getCharacterImages(episode)">
      >
      </app-card>

      <!-- Lista de personajes -->
      <!-- <div class="character-images">
        <img
          *ngFor="let characterUrl of episode.characters.slice(0, 6)"
          [src]="getCharacterImage(characterUrl)"
          width="50"
          height="50"
          alt="Character"
        />
      </div> -->
    </div>
  </div>
</div>
