<div class="episode-list">
  <div class="card" *ngFor="let episode of episodes">
    <div class="card-body">
      <h3>{{ episode.name }}</h3>
      <p><strong>ID:</strong> {{ episode.id }}</p>
      <p><strong>Episodio:</strong> {{ episode.episode }}</p>

      <h4>Personajes:</h4>
      <div class="characters">
        <img
          *ngFor="let characterUrl of episode.characters.slice(0, 6)"
          [src]="getCharacterImage(characterUrl)"
          width="50"
          height="50"
          alt="Character"
        />
      </div>
    </div>
  </div>
</div>
